<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |patient| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class='field'>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class='field'>
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  <div class='field'>
    <%= f.label :gender %>
    <%= f.select :gender, ['Male', 'Female', 'Other'], {}, class: 'browser-default' %>
  </div>
  <div class='actions' >
    <%= f.submit nil, class: 'btn lime lighten-3 black-text' %>
  </div>
<% end %>
<br/>
<%= link_to 'Back', :back, class: 'btn lime lighten-3 black-text' %>