<h1><%= @patient.full_name %></h1>
<table>
  <thead>
    <tr>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Hospital</th>
      <th colspan="4"></th>
    </tr>
 </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.time %></td>
        <td><%= appointment.location %></td>
        <td><%= link_to 'Delete', appointment_path(appointment), class:'btn lime lighten-3 black-text',
               method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path, class:'btn lime lighten-3 black-text' %>

