<h1>Doctors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Specialty</th>
      <th>Hospital</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.name %></td>
        <td><%= doctor.specialty %></td>
        <td><%= doctor.hospital %></td>
        <td><%= link_to 'Show', doctor, class:'btn lime lighten-3 black-text' %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor), class:'btn lime lighten-3 black-text' %></td>
        <td>
  <%= link_to 'Delete', doctor, class:'btn lime lighten-3 black-text', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

<%= link_to 'New Doctor', new_doctor_path, class:'btn lime lighten-3 black-text' %> |

<%= link_to 'Add Patient', new_patient_path, class:'btn lime lighten-3 black-text' %>